@import url('./font-face.css');
@import url('./responsive.css');

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #292A2A;
    font-family: 'Ubuntu', 'Ubuntu-Bold', 'Tahoma', 'Arial', sans-serif;
    color: #979899;
    font-size: 0;
}
* {
    box-sizing: border-box;
}
.resume__line-between-sections,
.resume__qr-for-github,
.resume__qr-for-live-hosting{
    display: none;
}
a{
    text-decoration: none;
    transition: 150ms linear;
    color: #E0A809;
}
a:hover{
    color: white;
    transform: scale(1.1, 1.1);
}
body > div{
    position: relative;
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
}
body > div > div:first-child,
body > div > div:last-child{
    position: relative;
}
.resume__skills-title_wrapper,
.resume__portfolio-title_wrapper,
.resume__english-skills-title_wrapper,
.resume__personal-traits-title_wrapper,
.resume__education-title_wrapper,
.resume__work-experience-title_wrapper,
.resume__hobby-title_wrapper{
    display: inline-block;
}
p{
    margin-block-start: 10px;
    margin-block-end: 10px;
}
h2{
    margin: 0;
    padding-top: 8px;
    text-transform: uppercase;
}
.resume__avatar_wrapper{
    display: inline-block;
    text-align: center;
    border: solid 1px rgb(0, 0, 0);
}
.resume__avatar{
    height: 100%;
}
.resume__english-version,
.resume__russian-version{
    position: absolute;
    z-index: 1000;
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    transition: 150ms linear;
}
.resume__english-version{
    top: 20px;
    background-image: url("../images/engflag.png");
}
.resume__russian-version{
    top: 75px;
    background-image: url("../images/rusflag.png");
}
a[ href*="indexRUS.html" ],
a[ href*="indexRUS.html" ]{
    display: block;
    width: 100%;
    height: 100%;
}
.resume__english-version:hover,
.resume__russian-version:hover{
    transform: scale(1.2, 1.2);
}
.resume__personal-data_FIO{
    display: block;
    padding-bottom: 25px;
    border-bottom: solid 1px #A4A5A6;
}
.resume__personal-data_FIO_name,
.resume__personal-data_FIO_surname{
    display: inline-block;
    font-size: 72px;
}
.resume__personal-data_FIO_name{
    margin-bottom: 0px;
    line-height: 0.8;
    color: #A4A5A6;
}
.resume__personal-data_FIO_surname{
    text-transform: uppercase;
    font-family: 'Ubuntu-Bold';
    margin: 0 0 0 15px;
    line-height: 1;
    color: #E0A809;
}
address{
    padding-top: 25px;
    font-size: 0;
}
address > div{
    font-size: 24px;
    font-style: normal;
}
address > div:last-child{
    margin-top: 15px;
}
.resume__portfolio > div:last-child{
    margin-top: 25px;
    padding-top: 25px;
    font-size: 0;
    border-top: solid 1px #A4A5A6;
}
.resume__portfolio_references{
    display: flex;
}
.resume__portfolio a{
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}
.resume__personal-traits{
    border-collapse: collapse;
    padding-top: 20px;
    text-align: left;
}
.resume__personal-traits tr > td{
    padding-top: 5px;
}
.resume__work-experience > div,
.resume__education > div,
.resume__hobby > div{
    margin-bottom: 25px;
    font-size: 0;
}
.resume__work-experience > div > div,
.resume__education > div > div,
.resume__hobby > div > div{
    display: inline-block;
    vertical-align: top;
}
.resume__work-experience > div > div:last-child,
.resume__education > div > div:last-child,
.resume__hobby > div > div:last-child{
    padding-left: 25px;
}
.resume__work-experience_workplace_period,
.resume__work-experience_workplace_city,
.resume__education_period,
.resume__education_city{
    font-size: 10px;
    position: relative;
}
.resume__work-experience_workplace_period,
.resume__education_period{
    margin-top: 14px;
}
.resume__work-experience_workplace_organization,
.resume__education_organization,
.resume__hobby-period{
    text-transform: uppercase;
    font-weight: bold;
}
.resume__work-experience_workplace_organization_prefix{
    margin: 5px 0 0 0;
}
.resume__personal-traits-article p{
    display: inline-block;
    text-indent: 45px;
}
.resume__hobby > div:first-child{
    margin-bottom: 25px;
}
